@import '/styles/abstracts/variables';

.Rows {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: solid 1px get-color(gray-variant, light-60);
  .Row {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: get-color(blacks, 45);
    width: 100%;
    padding: 1rem 0;

    &:last-child {
      border-bottom: 0 none;
    }
    .RowData,
    .RowLabel {
      display: flex;
      width: 33%;
      text-align: center;
      justify-content: center;
    }
    .RowData {
      &.RowTitle {
        color: $stone;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    .RowLabel {
      color: $stone;
      font-size: 1.4rem;
      font-weight: 600;
      small {
        font-size: 1rem;
        color: get-color(gray-variant, light-35);
      }
    }
    &:nth-child(odd) {
      border-top: 0 none;
      background-color: get-color(silvers, 50);
      border-bottom: solid 1px get-color(gray-variant, light-85);
    }
  }
  &.SportbooksResult {
    margin-top: 1rem;
    border-top: 0 none;
    .Row {
      color: get-color(gray-variant, light-20);
      &:nth-child(odd) {
        background-color: $white;
        border-bottom: 0 none;
      }
      &:last-child {
        color: $black;
        border-top: solid 1px  get-color(gray-variant, light-60);
      }
    }
  }
  &.Consensus {
    margin-top: 0;
    overflow-y: scroll;
    min-height: 50vh;
    height: 50vh;
    .Row {
      font-size: 1.1rem;
      color: $black;
      &:nth-child(odd) {
        background-color: $white;
        border-bottom: 0 none;
      }
      b {
        margin-left: 1rem;
      }
    }
  }
  &.RowsMatchup {
    position: relative;
    border-top: 0 none;
    .Row {
      display: flex;
      flex: 1 5.5rem;
      color: $black;
      font-family: $openSans;
      font-size: 1.2rem;
      font-weight: 400;
      align-content: center;
      justify-content: space-between;
      border: 0.1rem solid get-color(gray-variant, light-85);
      &:nth-child(odd) {
        background-color: $white;
      }
      &.RowHeader {
        border-top: 0 none;
        background-color: get-color(gray-variant, light-60);
        flex: 3rem;
        padding: 0;
        .Banner {
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
      .Banner {
        display: flex;
        flex: 0 30.7%;
        max-width: 14.5rem;
        font-size: 1.4rem;
        padding: 0.8rem;
      }
      .ScoreBoard {
        display: flex;
        align-self: center;
        flex-direction: row;
        flex: 30%;
        min-width: 15rem;
        font-size: 1.2rem;
        padding: 0.8rem 0;
        span {
          flex: 1;
          display: flex;
          justify-content: center;
          &:last-child {
            font-weight: 600;
          }
        }
      }
      .Stats {
        flex: 0 1 auto;
        width: 8rem;
        font-size: 1.4rem;
        text-align: center;
        padding: 0.8rem 0;
      }
      &.RowButtons {
        background-color: get-color(gray-variant, light-60);
        padding: 0.25rem;
        a {
          display: flex;
          //flex: 0 1 33.33333%;
          //without track bets
          flex: 0 1 50%;
          justify-content: center;
          background-color: $white;
          border: 0.1rem solid get-color(gray-variant, light-60);
          margin: 0.25rem;
          font-weight: 600;
          flex-direction: row;
          height: 4rem;
          color: $sbr-primary;
          font-size: 1.2rem;
          cursor: pointer;
          align-items: center;
          -webkit-tap-highlight-color: $black;
          i {
            font-size: 1.6rem;
            margin: 0 0.5rem;
          }
        }
      }
      &.RowMobile {
        .Banner {
          flex: 0 50%;
          max-width: 50%;
          justify-content: center;
          &:first-child {
            border-right: 0.1rem solid get-color(gray-variant, light-85);
          }
        }
        .Stats {
          font-size: 1.2rem;
        }
      }
    }
  }
}