@import '/styles/abstracts/variables';

.mainColumn {
    width: 100%;
    height: 100%;
    transition: margin .2s ease-out;
    padding-top: 0;
    @media ( min-width: $breakLG ) {
        display: flex;
    }
}