@import '/styles/abstracts/variables';
@import '/styles/abstracts/mixins';

.breadcrumbsContainer {
  margin-top: 1rem;
  @media ( max-width: $maxTabletWidth  ) {
    margin-top: 3rem;
  }
  z-index: 1;
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      @media ( max-width: $maxTabletWidth  ) {
        &:nth-child(5) {
          padding-top: .5rem;
          display: block;
        }
      }
    }
  }
  .breadcrumbItem {
    //color: get-color(blues, shade-15);
    cursor: pointer;
    padding: 0.1rem 0.3rem;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  .currentPage {
    @media ( max-width: $maxTabletWidth  ) {
        display: none;
    }
  }
  .active {
    cursor: default;
    border: none;
    color: #adb5c3;
  }
  .divider {
    color: $blue;
    margin: 0 0.5rem;
    @media ( max-width: $maxTabletWidth  ) {
      &.lastDivider {
        display: none;
      }
    }
  }
}