@import '/styles/abstracts/variables';
@import '/styles/abstracts/mixins';

.top {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
  justify-content: center;
  background-color: get-color(silvers, tint-50);
  @media ( min-width: $breakLG ) {
    justify-content: normal;
    justify-content: flex-end;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0;
    padding: 0;
    background-color: transparent;
  }
  .topContainer {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .text {
    font-size: 1.4rem;
    padding: 0.5rem;
    color: $red;
    &:hover {
      text-decoration: underline;
    }
  }
  .divider {
    height: 1rem;
    width: 0.1rem;
    margin: 0 0.5rem;
    background-color: get-color(gray-variant, light-60);
  }
  .selected {
    color: get-color(blacks, 50) !important;
  }
}
