.btn {
  font-family: $openSans;
  color: $white;
  background-color: $blue;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 0.8rem 2rem;
  margin: 0 auto;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  @media (min-width: $breakLG) {
    padding: 0.8rem 3rem;
    margin: 0;
  }
  &-outline {
    border: 0.1rem solid get-color(sbr-blue, header);
    margin: 0 auto;
    font-weight: 400;
    &:hover {
      background-color: get-color(sbr-blue, header);
      color: $white;
    }
  }
  &-consent {
    display: block;
    border: 0.1rem solid $white;
    background-color: transparent;
    color: $white;
    font-weight: 700;
    &:hover {
        background-color: get-color(sbr-blue, header);
    }
  }
  &-solid {
    font-size: 1.5rem;
    margin: 0 auto;
    border: 0 none;
    font-weight: bold;
    &:hover {
      background-color: #0046c6;
    }
  }
}

.no-button {
    border: 0 none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    &:hover {
      color: $red;
    }
}