@import '/styles/abstracts/variables';

.Card {
    margin-top: 1rem;
    overflow: visible;
    &Title {
      color: $white;
      display: flex;
      min-width: 7rem;
      min-height: 4rem;      
      align-items: center;
      padding: 0.5rem 1rem;
      //background-color: get-color(sbr-blue, shade-10);
      background-color: $sbr-neutral-200;
      justify-content: space-between;
      margin-bottom: 0;
      &_Large {
        min-height: auto;
        height: auto; 
        padding: 0.8rem 1rem;
      }
      h4,
      .h4 {
        margin: .5rem 1.5rem 0 .5rem;
      }
      small {
        font-weight: 400;
      }
    }
}