@import '/styles/abstracts/variables';

.eventsDate_header {
    height: 4rem;
    color: $white;
    font-size: 1.6rem;
    font-family: $openSansBold;
    font-weight: 600;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    //background-color: get-color(sbr-blue, shade-10);
    background-color: $sbr-neutral-200;
}

.gameDescription {
    display: flex;
    margin: 2.5rem 0 1.5rem 0;
    align-items: center;
    > a  {
      display: flex;
      flex-direction: column;
      color: $black;
      margin-left: 1rem;
      font-size: 1.2rem;
      > h3  {
        font-size: 1.5rem;
        margin: 0.3rem 0 0 0;
        font-family: $openSansBold;
      }
      &:hover  {
        color: $red;
      }
    }
}

.eventGridContainer {
    display: flex;
    margin-top: .5rem;
    border: $default-border;
    flex-flow: row wrap;
    position: relative;
    flex-wrap: nowrap;
    overflow: hidden;
    color: $black;
    &.neverWrap {
      flex-flow: unset;
    }
    &.tableContainer {
      margin-top: 0;
    }
}


.leftBoxContainer {
    min-width: $boxContainerWidthMobile;
    max-width: $boxContainerWidthMobile;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
}

.tableHeader,
.oddsNumber {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    height: 4rem;
    padding: 0.5rem 0.8rem;
    b {
      font-weight: 600;
      font-family: $openSansBold;
    }
    img {
      &:hover {
        transform: scale(1.08);
      }
    }
}
.oddsNumber {
  padding: 0;
  display: flex;
  span {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    height: 4rem;
  }
  &.oddsTwoColumn {
    span {
      flex: 0 0 50%;
      &:first-child {
        border-right: $default-border;
      }
    }
  }
}


.bettingOptions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    width: 100%;
    overflow: hidden;
}
.participantContainer {
    .participantData {
        height: 4rem;
        display: flex;
        align-items: center;
        width: 100%;
        a {
            font-family: $openSansBold;
            font-weight: 700;
            font-size: 1.2rem;
            color: inherit;
            display: flex;
            flex: auto;
            overflow: hidden;
            align-items: center;
        }
        .participantRot {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 3rem;
            font-size: 1rem;
            color: get-color(gray-variant, light-20);
            padding-right: 0.5rem;
        }
        //I don't see where this happens yet
        .iconAction {
            font-size: 2rem;
            font-style: normal;
            margin-right: 0.2rem;
            right: 0;
            &.smallFont {
              font-size: 1.2rem;
            }
            &.winnerIcon {
              color: get-color(blues, shade-10);
            }
            &.actionIconCollapsedScore {
              right: 2.4rem;
            }
            &.bat {
              color: $brown;
            }
            &.powerplay {
              color: $sbr-primary;
              font-size: 1.8rem;
              margin-right: 0.5rem;
              .actionIconCollapsedScore > & {
                margin-right: 0;
              }
            }            
        }
        .participantScore {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: -0.1rem;
            min-width: 2.5rem;
        }
    }
}

.oddsNumberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    flex: 1;
    z-index: 1;
}

.consensusColumn {
  overflow: hidden;
  transition: all 0.3s;
  &.consensus {
    min-width: $consensusWidth;
    width: $consensusWidth;
    span {
      cursor: pointer;
      &:hover {
        color: $red;
      }
    }
  }
}

.containerNumbers {
    display: flex;
    flex-direction: column;
    @media(min-width: $breakLG) {
      flex-wrap: wrap;
    }
    .opener,
    .odds {
      height: 4rem;
      font-size: 1.2rem;
      line-height: 4rem;
      text-align: center;
    }
    .opener {
      span {
        color: get-color(gray-variant, shade-20);
      }
    }
    .odds {
      cursor: pointer;
      &:hover {
        color: $red;
      }
    }
}

.icon {
    > i {
        color: $red;
    }
}