@import '/styles/abstracts/variables';
@import '/styles/abstracts/mixins';

.oddsNumber {
  height: 4rem;
  font-size: 1.2rem;
  line-height: 4rem;
  text-align: center;
  @media (min-width: $breakLG) {
    height: 3.5rem;
  }
  &.oddsNumberFuture {
    width: 8.3rem;
  }

  &.futureMarket {
    margin: 0;
  }
  &.compact {
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: normal;
    @media (min-width: $breakLG) {
      height: 2.4rem;
    }
  }
}

.pointer {
  cursor: pointer;
}
.gray {
  background-color: rgba($silver, 0.25);
  border-top: $default-border;
  border-bottom: $default-border;
}
.animate {
  animation: cellColor;
  animation-duration: 60s;
}
.offline {
  color: get-color(gray-variant, tint-20);
  cursor: default;
}
.nonBorderBottom {
  border-bottom: none;
}
.bestOdd {
  color: $sbr-odds;
}
.adjust {
  margin-right: 0.2rem;

  @media (min-width: $breakLG) {
    margin-right: .5rem;
  }
}
.margin {
  margin-right: 0.5rem;
}
@keyframes cellColor {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: $carmine;
    color: $white;
  }
  34% {
    background-color: $carmine;
    color: $white;
  }
  35% {
    background-color: $orange;
    color: $white;
  }
  68% {
    background-color: $orange;
    color: $white;
  }
  69% {
    background-color: $yellow;
    color: $white;
  }
  99% {
    background-color: $yellow;
    color: $white;
  }
  100% {
    background-color: transparent;
  }
}

.oddsContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  > div {
    height: 100%;
  }
  &.mobile,
  &.compact {
    border-left: none;

    .arrow {
      top: calc(50% - 2rem) !important;
    }
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% + #{$gridsHeaderHeight} - 4rem);
    height: 4rem;
    width: 2rem;
    cursor: pointer;
    border-radius: .4rem;
    color: transparentize($black, .7);
    font-size: 1.2rem;
    z-index: 1;

    &.right {
      right: 0;
    }
    &.top {
      top: 2rem;
    }
    &:hover {
      background-color: $black;
      @include opacity(0.3);
      color: $white;
    }
  }
  .hoverOverPlaceholder {
    width: 100%;
  }
}
.borderLeft {
  border-right: $secondary-border;
}
.numbersContainer {
  > main {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakLG) {
      flex-wrap: wrap;
    }

    &.compact {
      border-right: $secondary-border;
      @media (min-width: $breakLG) {
        height: 100%;
      }
    }
  }
  &:last-child > main.compact {
    border-right: none;
  }
}