@import '../../../🎨styles/sass/abstracts/mixins';
@import '../../../🎨styles/sass/abstracts/functions';
@import '../../../🎨styles/sass/vendors/icons/icons';

.sbr-searchBarWrapper {
  width: toRem(50);
  height: toRem(40);
  position: absolute;
  top: 0px;
  right: 36px;
  display: flex;
  align-items: center;
  @include animation(transition, 'width .25s ease');
  @include media-breakpoint-up(md) {
    width: auto;
    box-shadow: none;
  }
  @include media-breakpoint-up(lg) {
    width: 213px !important;
    position: relative;
    right: toRem(10);
  }
  input {
    width: 0;
    @include animation(transition, 'width .25s ease');
    height: toRem(30);
    color: get-color(blacks, 45);
    font-size: 12px;
    outline: none;
    border: $border-thin-tinted;
    border-radius: $border-radius-sm;
    position: absolute;
    top: toRem(5);
    right: toRem(10);
    display: none;
    @include media-breakpoint-up(md) {
      width: toRem(160);
      padding-left: map-get($spacers, 2);
      padding-right: map-get($spacers, 5);
      background-color: $sbr-background-default;
      display: inline-block;
    }
  }
  .sbr-searchIcon {
    width: toRem(40);
    height: toRem(40);
    position: absolute;
    border-radius: 100%;
    right: map-get($spacers, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      width: toRem(22);
      height: toRem(22);
      right: toRem(14);
    }
    .sbr-icon-search {
      font-size: $font-size-xl;
      color: $sbr-text-inactive;
      @include media-breakpoint-up(lg) {
        font-size: $font-size-base;
      }
    }
  }
  &.isActive {
    width: 100%;
    z-index: 10;
    @include media-breakpoint-up(md) {
      width: auto;
      background-color: unset;
    }
    input {
      width: calc(100vw - 85px);
      height: toRem(30);
      padding-left: map-get($spacers, 2);
      padding-right: map-get($spacers, 5);
      background-color: $sbr-background-default;
      display: inline-block;
      @include media-breakpoint-up(md) {
        width: toRem(272);
      }
    }
  }
}
#sbrHeaderSearchbarDropdown {
  display: none;
  height: 0;
  transition: height 0.25s;
  overflow-y: scroll;
  overflow-y: -moz-scrollbars-none; // Firefox
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // Edge

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
