@font-face {
  font-family: 'SBR-icons';
  src:  url('https://img.sportsbookreview.com/fonts/SBR/SBR-icons.eot');
  src:  url('https://img.sportsbookreview.com/fonts/SBR/SBR-icons.eot#iefix') format('embedded-opentype'),
    url('https://img.sportsbookreview.com/fonts/SBR/SBR-icons.woff2') format('woff2'),
    url('https://img.sportsbookreview.com/fonts/SBR/SBR-icons.ttf') format('truetype'),
    url('https://img.sportsbookreview.com/fonts/SBR/SBR-icons.woff') format('woff'),
    url('https://img.sportsbookreview.com/fonts/SBR/SBR-icons.svg#SBR-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="sbr-icon-"], [class*=" sbr-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'SBR-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sbr-icon {
  &-organize-icon:before {
    content: "\e94f";
  }
  &-up-down-icon:before {
    content: "\e9ce";
  }
  &-check2-icon:before {
    content: "\e9d0";
  }
  &-play-icon:before {
    content: "\e9d1";
  }
  &-check-icon:before {
    content: "\e9d2";
  }
  &-arrows-icon:before {
    content: "\e9d3";
  }
  &-w-icon:before {
    content: "\e9d4";
  }
  &-dollar-icon:before {
    content: "\e9d5";
  }
  &-calendar-icon:before {
    content: "\e9d6";
  }
  &-comment-icon:before {
    content: "\e9d7";
  }
  &-sliders-icon:before {
    content: "\e9d8";
  }
  &-time-icon:before {
    content: "\e9d9";
  }
  &-user-icon:before {
    content: "\e9da";
  }
  &-star-icon:before {
    content: "\e9db";
  }
  &-horse-grid-icon:before {
    content: "\e9c4";
  }
  &-horse-icon:before {
    content: "\e9c5";
  }
  &-horse-runners-icon:before {
    content: "\e9c6";
  }
  &-political-icon:before {
    content: "\e9c7";
  }
  &-track-icon:before {
    content: "\e9c8";
  }
  &-weather-icon:before {
    content: "\e9c9";
  }
  &-Esports:before {
    content: "\e9c3";
  }
  &-settings1:before {
    content: "\e9c2";
  }
  &-novelty-icon:before {
    content: "\e9c1";
  }
  &-instagram-inline:before {
    content: "\e9c0";
  }
  &-ncaa-icon:before {
    content: "\e9b6";
  }
  &-close-inline:before {
    content: "\e911";
  }
  &-puck_goal:before {
    content: "\e9cf";
  }
  &-challenge_1:before {
    content: "\e9cd";
  }
  &-sbr-icon-first-item:before {
    content: "\e9be";
  }
  &-sbr-icon-last-item:before {
    content: "\e9bf";
  }
  &-sbr-icon-filter:before {
    content: "\e9bd";
  }
  &-sbr-icon-minus-thin:before {
    content: "\e9bb";
  }
  &-sbr-icon-plus-thin:before {
    content: "\e9bc";
  }
  &-confirmation_message:before {
    content: "\e9b9";
  }
  &-error_message:before {
    content: "\e9ba";
  }
  &-power_play_nhl:before {
    content: "\e9b8";
  }
  &-Stats_dots:before {
    content: "\e9b7";
  }
  &-team_stats:before {
    content: "\e9ae";
  }
  &-versus:before {
    content: "\e9b4";
  }
  &-nfl_ball_horizontal:before {
    content: "\e9aa";
  }
  &-timeout1:before {
    content: "\e9a9";
  }
  &-IP:before {
    content: "\e9b5";
  }
  &-time-quarter1:before {
    content: "\e99e";
  }
  &-time-quarter2:before {
    content: "\e9a6";
  }
  &-time-quarter3:before {
    content: "\e9a7";
  }
  &-time-quarter4:before {
    content: "\e9a8";
  }
  &-touchdown_2:before {
    content: "\e9b3";
  }
  &-timeout:before {
    content: "\e9b2";
  }
  &-FG-live:before {
    content: "\e9af";
  }
  &-RZ-live:before {
    content: "\e9b0";
  }
  &-TD-live:before {
    content: "\e9b1";
  }
  &-leader:before {
    content: "\e9ac";
  }
  &-whistle:before {
    content: "\e9ad";
  }
  &-facebook-simple:before {
    content: "\e9a4";
  }
  &-twitter-simple:before {
    content: "\e9a5";
  }
  &-sbr-icon-menu-2:before {
    content: "\e9a2";
  }
  &-sbr-icon-search-2:before {
    content: "\e9a3";
  }
  &-PC-live:before {
    content: "\e9a0";
  }
  &-S-live:before {
    content: "\e9a1";
  }
  &-league:before {
    content: "\e99f";
  }
  &-field-goal:before {
    content: "\e99d";
  }
  &-baseball-bat-2:before {
    content: "\e99c";
  }
  &-baseball-bat:before {
    content: "\e900";
  }
  &-caret-right:before {
    content: "\e901";
  }
  &-bet-tracker:before {
    content: "\e902";
  }
  &-calendar:before {
    content: "\e903";
  }
  &-favorites:before {
    content: "\e904";
  }
  &-filters:before {
    content: "\e905";
  }
  &-menu:before {
    content: "\e906";
  }
  &-search:before {
    content: "\e907";
  }
  &-user:before {
    content: "\e908";
  }
  &-bet-card:before {
    content: "\e909";
  }
  &-best-odd:before {
    content: "\e90a";
  }
  &-caret-left:before {
    content: "\e90b";
  }
  &-caret-up:before {
    content: "\e90c";
  }
  &-chevron-left:before {
    content: "\e90d";
  }
  &-chevron-right:before {
    content: "\e90e";
  }
  &-chevron-down:before {
    content: "\e90f";
  }
  &-chevron-up:before {
    content: "\e910";
  }
  &-close:before {
    content: "\e912";
  }
  &-check:before {
    content: "\e913";
  }
  &-football:before {
    content: "\e914";
  }
  &-baseball:before {
    content: "\e915";
  }
  &-caret-down:before {
    content: "\e916";
  }
  &-basketball:before {
    content: "\e917";
  }
  &-soccer:before {
    content: "\e918";
  }
  &-boxing:before {
    content: "\e919";
  }
  &-cricket:before {
    content: "\e91a";
  }
  &-golf:before {
    content: "\e91b";
  }
  &-hockey:before {
    content: "\e91c";
  }
  &-horse:before {
    content: "\e91d";
  }
  &-rugby:before {
    content: "\e91e";
  }
  &-rugby-c:before {
    content: "\e91f";
  }
  &-rugby-p:before {
    content: "\e920";
  }
  &-circle:before {
    content: "\e922";
  }
  &-chat:before {
    content: "\e923";
  }
  &-label-top:before {
    content: "\e924";
  }
  &-trophy:before {
    content: "\e925";
  }
  &-sbr:before {
    content: "\e926";
  }
  &-forum:before {
    content: "\e927";
  }
  &-ufc:before {
    content: "\e928";
  }
  &-blacklist:before {
    content: "\e929";
  }
  &-file-complaint:before {
    content: "\e92a";
  }
  &-rating-guide:before {
    content: "\e92b";
  }
  &-add:before {
    content: "\e92c";
  }
  &-close-thick:before {
    content: "\e92d";
  }
  &-play-video:before {
    content: "\e92e";
  }
  &-check-thin:before {
    content: "\e92f";
  }
  &-positive:before {
    content: "\e930";
  }
  &-negative:before {
    content: "\e931";
  }
  &-edit-pencil:before {
    content: "\e932";
  }
  &-medal:before {
    content: "\e933";
  }
  &-request:before {
    content: "\e934";
  }
  &-notification:before {
    content: "\e935";
  }
  &-group:before {
    content: "\e936";
  }
  &-email:before {
    content: "\e937";
  }
  &-football-2:before {
    content: "\e938";
  }
  &-clock:before {
    content: "\e939";
  }
  &-together:before {
    content: "\e93a";
  }
  &-percent:before {
    content: "\e93b";
  }
  &-youtube-sm:before {
    content: "\e93c";
  }
  &-whatsapp-sm:before {
    content: "\e93d";
  }
  &-twitter-sm:before {
    content: "\e93e";
  }
  &-tumblr-sm:before {
    content: "\e93f";
  }
  &-instagram-sm:before {
    content: "\e940";
  }
  &-google-sm:before {
    content: "\e941";
  }
  &-facebook-sm:before {
    content: "\e942";
  }
  &-email-sm:before {
    content: "\e943";
  }
  &-trophy-sm:before {
    content: "\e944";
  }
  &-rss-sm:before {
    content: "\e945";
  }
  &-star-empty:before {
    content: "\e946";
  }
  &-bonuses:before {
    content: "\e947";
  }
  &-plus-sm:before {
    content: "\e948";
  }
  &-betpoints:before {
    content: "\e949";
  }
  &-login:before {
    content: "\e94a";
  }
  &-reply:before {
    content: "\e94b";
  }
  &-quote:before {
    content: "\e94c";
  }
  &-home:before {
    content: "\e94d";
  }
  &-reply-quote:before {
    content: "\e94e";
  }
  &-reply-multiple-quote:before {
    content: "\e9dc";
  }
  &-sbrpro:before {
    content: "\e950";
  }
  &-share:before {
    content: "\e951";
  }
  &-export:before {
    content: "\e952";
  }
  &-edit-log:before {
    content: "\e953";
  }
  &-comments:before {
    content: "\e954";
  }
  &-sm-share:before {
    content: "\e955";
  }
  &-settings:before {
    content: "\e956";
  }
  &-move:before {
    content: "\e957";
  }
  &-eye:before {
    content: "\e958";
  }
  &-eye-close:before {
    content: "\e959";
  }
  &-alert:before {
    content: "\e95a";
  }
  &-circle-uncheck:before {
    content: "\e95b";
  }
  &-circle-check:before {
    content: "\e95c";
  }
  &-rollover:before {
    content: "\e95d";
  }
  &-info:before {
    content: "\e95e";
  }
  &-promo-code:before {
    content: "\e95f";
  }
  &-pin:before {
    content: "\e960";
  }
  &-chevron-square:before {
    content: "\e961";
  }
  &-bonus-star:before {
    content: "\e962";
  }
  &-payment:before {
    content: "\e963";
  }
  &-countries:before {
    content: "\e964";
  }
  &-file:before {
    content: "\e965";
  }
  &-flag:before {
    content: "\e966";
  }
  &-folder:before {
    content: "\e967";
  }
  &-infractions:before {
    content: "\e968";
  }
  &-inbox:before {
    content: "\e969";
  }
  &-sent:before {
    content: "\e96a";
  }
  &-trash:before {
    content: "\e96b";
  }
  &-email2:before {
    content: "\e96c";
  }
  &-forum2:before {
    content: "\e96d";
  }
  &-card:before {
    content: "\e96e";
  }
  &-download:before {
    content: "\e96f";
  }
  &-rules:before {
    content: "\e970";
  }
  &-software:before {
    content: "\e971";
  }
  &-forward:before {
    content: "\e972";
  }
  &-Casino:before {
    content: "\e973";
  }
  &-Coin:before {
    content: "\e974";
  }
  &-poker:before {
    content: "\e975";
  }
  &-Trivia:before {
    content: "\e976";
  }
  &-award-betpoints:before {
    content: "\e977";
  }
  &-Poker2:before {
    content: "\e978";
  }
  &-cart:before {
    content: "\e979";
  }
  &-live-help:before {
    content: "\e97a";
  }
  &-sign-in:before {
    content: "\e97b";
  }
  &-export-xlsx:before {
    content: "\e97d";
  }
  &-export-pdf:before {
    content: "\e97e";
  }
  &-export-embed-icon:before {
    content: "\e97f";
  }
  &-sunny-clear:before {
    content: "\e980";
  }
  &-sunny-cloudy:before {
    content: "\e981";
  }
  &-cloudy:before {
    content: "\e982";
  }
  &-cloudy-thunderstorm:before {
    content: "\e983";
  }
  &-clear-night:before {
    content: "\e984";
  }
  &-rain-light:before {
    content: "\e985";
  }
  &-rain-heavy:before {
    content: "\e986";
  }
  &-snow:before {
    content: "\e987";
  }
  &-sleeting:before {
    content: "\e988";
  }
  &-frigid-temp:before {
    content: "\e989";
  }
  &-hot-temp:before {
    content: "\e98a";
  }
  &-transfer:before {
    content: "\e98b";
  }
  &-compare-odds:before {
    content: "\e98c";
  }
  &-user-avatar-2:before {
    content: "\e98d";
  }
  &-user-tips:before {
    content: "\e98e";
  }
  &-settings-tips:before {
    content: "\e98f";
  }
  &-pages-tips:before {
    content: "\e990";
  }
  &-calendar-tips:before {
    content: "\e991";
  }
  &-bullseye-tips:before {
    content: "\e992";
  }
  &-triple-dots:before {
    content: "\e993";
  }
  &-triple-dots-vertical:before {
    content: "\e9ab";
  }
  &-camera:before {
    content: "\e994";
  }
  &-link:before {
    content: "\e995";
  }
  &-video:before {
    content: "\e996";
  }
  &-chart:before {
    content: "\e997";
  }
  &-smilie:before {
    content: "\e998";
  }
  &-document:before {
    content: "\e999";
  }
  &-bill:before {
    content: "\e99b";
  }
  &-timer:before {
    content: "\e99a";
  }
}

