@import '/styles/abstracts/variables';

.ContainerSmall {
    width: $boxContainerWidthMobile;
}
.gamesCards {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    margin: 0 0 0 -.8rem;
    @media ( min-width: $breakLG  ) {
        margin: 0rem -0.8rem 5rem -.8rem;
    }
    .gameCard {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 1rem 0;
        padding: 0 0.8rem;
        @media (max-width: $maxMobileWidth) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .complete,
    .postponed {
        padding: 0;
        color: $white;
        background-color: get-color(blues, shade-15);
        border: 0.1rem solid get-color(blues, shade-15);
        text-transform: uppercase;
    }
    .inProgress {
        padding: 0;
        background-color: $green;
        color: $white;
    }
}
